doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | utube
    body 
        ul
            li
                a(href="/") Home
            li
                a(href="/addMovie") Add
        block content

include ../includes/footer 